<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>접근차단</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css" />
</head>
<body>
    <div style="width:230px;margin:0 auto;">세션이 만료되었습니다.</div>
</body>
</html>